# Python
__pycache__/
*.py[cod]
*.log

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Celery
celerybeat-schedule
celerybeat.pid

# Docker
.env
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
